*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background: #fdffff;
    overflow-x: hidden;
}
nav{
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgb(236, 216, 216);
    background: rgb(16,16,17);
background: linear-gradient(14deg, rgba(16,16,17,1) 44%, rgba(221,30,30,0.8323704481792717) 81%);
}
nav .logo a img{
    height: 60px;
    margin-top: 10px;
    margin-left: 20px;
}
nav input{
    height: 30px;
    margin-left: 90px;
    border-radius: 17px;
    outline: none;
    border: 1px solid black;
    display: flex;
    text-align: center;
    padding: 7px;
}
#search-icon{
    margin-left: -27px;

}
#search-icon:hover{
    cursor: pointer;
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
nav ul li{
    margin-right: 130px;
    list-style-type: none;
    font-size: 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    
}
#cart{
    position: relative;
}
#cart::after{
    content: '3';
    position: absolute;
    font-size: 10px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: black;
    top: -14px;
    right: -10px;
}
nav .category-main{
    position: relative;
}
nav .category-main:hover .categories{
    display: flex;
}
nav .category-main .categories{
    position: absolute;
    flex-direction: column;
    top: 25px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    width: 120px;
    z-index: 1;
    display: none;
}
nav .category-main .categories li{
    text-align: center;
    padding: 10px;
}
.home-main{
    height: 720px;
    width: 100%;
    background: url(images/fashionhero.jpg);
    background-position: center;
    background-size: cover;
}
.logo-hero{
    width: 30%;
    height: 400px;
}
.logo-hero img{
    width: 100%;
    height: 100%;
    
}
.home-main p{
    color: white;
    font-family: 'Cinzel Decorative', cursive;
    width: 30%;
    margin-left: 45px;
    font-size: 27px;
    text-align: center;
    word-spacing: 7px;
    margin-bottom: 20px;
}
.home-main a{
    margin-left: 220px;
}
.home-main a button{
    padding: 4px;
    border-radius: 3px;
    border: none;
    font-weight: bold;
}